body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif, 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 50px;
  background-color: hsl(40,23%,97%)
}

.todoListMain {
  display: flex;
  justify-content: center;
  background-color: hsl(33, 100%, 63%);
  border-radius: 5px;
  box-shadow: inset 1px 0 1px hsl(0, 0%, 0%, 0.1);
  /*height: 300px;
  width: 75px;*/
}

input {
  border-radius: 5px;
  padding: 0 3px 0 3px;
  border-style: solid;
  border-color: hsl(27,69%,54%);
  box-shadow: inset 0 1px 1px hsl(0, 0%, 0%, 0.1);
}

button {
  border-radius: 5px;
  margin: 0 3px 0 3px;
  border-style: solid;
  border-color: hsl(40,23%,97%);
  box-shadow: inset 0 1px 1px hsl(0, 0%, 0%, 0.1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
